@model GenresViewModel

@{
    Layout = "_StartLayout";
    ViewBag.Title = "Genres";
    ViewBag.PageHeading = "Genres";
}

<table class="tracksTable">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var m in Model.Genres)
    {
        <tr>
            <td style="min-width: 200px">@m.Name</td>
            <td>@Html.Raw(@m.Description)</td>
        </tr>
    }
</table>