@model GenresViewModel

@{
    ViewData["Title"] = "Genre Stations";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Stations";
}

@Html.Partial("GenrePicker", Model.GenrePickerModel);

@if (Model.Stations.Count() != 0)
{
    <table class="tracksTable">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>

        </tr>
        @foreach (var m in Model.Stations)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.Description</td>
            </tr>
        }
    </table>
}