@model CsharpSample.Models.Login

@{
    Layout = "_StartLayout";
    ViewBag.Title = "Login";
    ViewBag.PageHeading = "Napster Login";
}


    <p><a class="btn-login btn-playlists" href=@Model.ContinueUrl>Menu</a></p>
    <iframe class="LoginFrame" align="middle" src=@Model.LoginSrc />

