@model TracksViewModel

@{
    ViewData["Title"] = "Tracks for ME";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Tracks for ME";
}

<div class="playlist">
    @Html.Partial("Tracks")
</div>