@model Tracks

@{
    ViewData["Title"] = "Tracks for ME";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Tracks";
}

<div class="playlist">
    <table class="tracksTable">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        @foreach (var m in Model.TrackList)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.ArtistName</td>
                <td>@m.AlbumName</td>
            </tr>
        }
    </table>
</div>