@{
    Layout = "_StartLayout";
    ViewBag.Title = "Login";
    ViewBag.PageHeading = "Opps";
}

<p>You need to have a successful login to Napster.</p>
<p><a class="btn-login btn-playlists" href="../Home/Login">Login</a></p>