@model ArtistsViewModel

@{
    ViewData["Title"] = "Top Artists";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Artists";
}


<table class="tracksTable">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Bio</th>
    </tr>
    @foreach (var m in Model.ArtistsList)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            <td>@m.Bios[0].Biography</td>
        </tr>
    }
</table>
