@model ArtistsViewModel

@{
    ViewData["Title"] = "Top Artists";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Artists";
}


<table class="tracksTable">
    <tr>
        <th>Name</th>
        <th>Bio</th>
    </tr>
    @foreach (var m in Model.ArtistsList)
    {
        <tr>
            <td style="min-width: 200px">@m.Name</td>
            <td>@Html.Raw(@m.Bios[0].Biography)</td>
        </tr>
    }
</table>
