@model ArtistsViewModel

@{
    ViewData["Title"] = "Top Artists for Genre";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Top Artists";
}

@Html.Partial("GenrePicker", Model.GenrePickerModel);

@if (Model.ArtistsList.Count() != 0)
{
    <table class="tracksTable">
        <tr>
            <th>Name</th>
            <th>Bio</th>
        </tr>
        @foreach (var m in Model.ArtistsList)
        {
            <tr>
                <td style="min-width: 200px">@m.Name</td>
                <td>@Html.Raw(@Model.GetArtistBio(m.Id))</td>
            </tr>
        }
    </table>
}